<h1>Ahegao Detector</h1>

<h2>What is Ahegao?</h2>
<p>
    See examples and descriptions on
    <a href="https://www.youtube.com/results?search_query=ahegao" target="_blank" rel="nofollow noopener">YouTube</a>,
    <a href="https://en.wikipedia.org/wiki/Ahegao" target="_blank" rel="nofollow noopener">Wikipedia</a> or
    <a href="https://www.urbandictionary.com/define.php?term=Ahegao" target="_blank" rel="nofollow noopener">Urban Dictionary</a>.
    On this website it's defined as a facial expression with rolling and crossed eyes and a open mouth with a protruded tongue.
</p>

<h2>What is this website?</h2>
<p>
    Here you can use your webcam or phone camera and the website finds out if you're currently doing an ahegao face or not.
    Furthermore, if you want to and have the right device, you can connect your vibrator or similar toy and let your facial expression
    control its speed: Doing an ahegao face slowly increases the vibration, not doing it will decrease it again.
</p>

<h2>Will I be recorded?</h2>
<p>
    No. The video from your camera gets analyzed directly on the device you're currently using. That means it won't get uploaded and it won't get recorded. You can even turn off your internet and still play the game.
</p>
<p>
    If you actually <span class="italic">want</span> to be recorded, you can use your device's screen recording feature to capture the screen or yourself.
</p>

<div class="is-landscape">
    <h2>I want to start!</h2>
    <p>
        Great! Use the "Start camera" button on the right.
    </p>
</div>
<h2 class="get-started is-portrait">Get started</h2>
