<h1>Ahegao Detector</h1>

<h2>What is Ahegao?</h2>
<p>
    See examples and descriptions on
    <a href="https://www.youtube.com/results?search_query=ahegao" target="_blank" rel="nofollow noopener">YouTube</a>,
    <a href="https://en.wikipedia.org/wiki/Ahegao" target="_blank" rel="nofollow noopener">Wikipedia</a> or
    <a href="https://www.urbandictionary.com/define.php?term=Ahegao" target="_blank" rel="nofollow noopener">Urban Dictionary</a>.
    On this website it's defined as a facial expression with rolling and crossed eyes and a open mouth with a protruded tongue.
</p>

<h2>What is this website?</h2>
<p>
    Here you can use your webcam or phone camera and the website finds out if you're currently doing an ahegao face or not.
    Furthermore, if you want to and have the right device, you can connect your vibrator or similar toy and let your facial expression
    control its speed: Doing an ahegao face slowly increases the vibration, not doing it will decrease it again.
</p>

<h2>Will I be recorded?</h2>
<p>
    No. The video from your camera gets analyzed directly on the device you're currently using. That means it won't get uploaded and it won't get recorded.
</p>
<app-alert [type]="'privacy'">
    This website won't upload your video. However, you can follow these extra steps to make sure that it couldn't even if it tried to:
    <ol>
        <li>Open this website in your browser's incognito/private mode</li>
        <li class="bold">Turn off internet</li>
        <li>After you're done, close the tab and browser before turning the internet back on</li>
    </ol>
</app-alert>
<p>
    If you actually <span class="italic">want</span> to be recorded, you can use a software like <a href="https://obsproject.com/" target="_blank" rel="nofollow noopener">OBS</a> to capture the screen or yourself.
</p>

<h2>I want to start!</h2>
<p>
    Great! Use the "Start camera" button <span class="is-landscape">on the right</span><span class="is-portrait">below</span>.
</p>