@import '../../../variables';

:host {
    position: relative;
     // width + height get overwritten based on cam size
     width: 100%;
     height: 450px;

     &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        box-shadow: 0 0 100px transparentize($color-primary-active, 1) inset;
        transition: box-shadow 500ms;
        z-index: 1;
    }

    &.-is-ahegao {
        &:before {
            box-shadow: 0 0 100px transparentize($color-primary-active, 0.3) inset;
        }
    
        .recognition-rectangle {
            border-color: $color-primary-active;
        }
    }

    &.-is-hidden {
        display: none;
    }
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c0510;
}

.recognition-rectangle {
    position: absolute;
    border: 2px solid $color-primary;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 1000ms
}
