@import '../../../variables';

:host {
    position: relative;
     // width + height get overwritten based on cam size
     width: 100%;
     height: 450px;

     &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        box-shadow: 0 0 100px transparentize($color-primary-active, 1) inset;
        transition: box-shadow 500ms;
        z-index: 1;
    }

    &.-is-ahegao {
        &:before {
            box-shadow: 0 0 100px transparentize($color-primary-active, 0.3) inset;
        }
    
        .recognition-rectangle {
            border-color: $color-primary-active;
        }
    }

    &.-is-hidden {
        display: none;
    }
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1c0510;
}

.recognition-rectangle {
    position: absolute;
    border: 2px solid $color-primary;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 1000ms
}

.loading-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: 600;

    .spinner, .spinner:after {
        border-radius: 50%;
        width: 1em;
        height: 1em;
    }
    .spinner {
        $width: .2em;
        $background-color: pink;
        $foreground-color: hotpink;

        margin-right: .6em;
        position: relative;
        $other-borders: $width solid $background-color;
        border-top: $other-borders;
        border-right: $other-borders;
        border-bottom: $other-borders;
        border-left: $width solid $foreground-color;
        transform: translateZ(0);
        animation: rotate 1.1s infinite linear;

        @keyframes rotate {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}

.alerts {
    position: absolute;
    left: .6rem;
    right: .6rem;
    bottom: 0;
    z-index: 1;

    @media (orientation: portrait) {
        bottom: 3.4rem;
    }
}
