<button (click)="toggleCollapse()" *ngIf="collapsed" class="primary">
    <app-typicon [icon]="'heart'"></app-typicon>
    Connect vibrator
</button>
<div *ngIf="!collapsed">
    <h3>Connect vibrator</h3>
    <p>
        You can connect your bluetooth toys with this game. When you can control your vibrator with an app on your phone,
        the chances are high that you can connect it here, too. Check out
        <a href="https://iostindex.com/?filter0ButtplugSupport=2" target="_blank" rel="noopener nofollow">this list</a>
        to see which devices are supported.
    </p>
    <div>
        <app-alert *ngIf="isIos" [type]="'error'">
            Currently connecting bluetooth devices to the browser is not supported on iOS :(. Please use a computer or Android device.
        </app-alert>
        <app-alert *ngIf="!supportsBluetooth" [type]="'error'">
            Your browser doesn't support bluetooth. Please use an other browser like the current Google Chrome.
        </app-alert>
        <app-alert *ngIf="supportsBluetooth && (hasBluetooth$ | async) === false" [type]="'error'">
            Your device hasn't bluetooth. You could use an USB bluetooth adapter or switch to a different device like a laptop or smartphone.
        </app-alert>
    </div>

    <div *ngIf="hasBluetooth$ | async">
        <div>
            <p *ngIf="!devices.length; else devicesList">No devices connected</p>
            <ng-template #devicesList>
                <ul class="devices-list">
                    <li *ngFor="let device of devices">
                        <app-typicon [icon]="'chevron-right'" [uppercase]="true"></app-typicon> {{device.device.Name}} –
                        <span *ngIf="device.status === 'connected'; else disconnected" class="connected">
                            Connected <app-typicon [icon]="'wi-fi'" [uppercase]="true"></app-typicon>
                        </span>
                        <ng-template #disconnected>
                            <span class="disconnected">
                                Disconnected <app-typicon [icon]="'cancel'" [uppercase]="true"></app-typicon>
                            </span>
                        </ng-template>
                    </li>
                </ul>
                <button (click)="test()" [disabled]="isTesting || !isDeviceConnected" appAutoBlur>
                    {{!isDeviceConnected ? 'No device connected' : (!isTesting ? 'Test vibration' : 'Testing...')}}
                </button>
            </ng-template>
        </div>
        <button (click)="startScanning()" class="primary" appAutoBlur>Search for bluetooth devices</button>

        <app-alert *ngIf="error" [type]="'error'">
            Error: {{error}} (Buttplug.io)
        </app-alert>
    </div>
</div>