<main>
    <div class="game">
        <app-welcome *ngIf="!webcamConnector.showWebcam"></app-welcome>
        <app-webcam
            #webcam
            [isLoading]="detectionLoopService.isLoading"
            [recognitionRectangle]="detectionLoopService.isRunning ? (detectionLoopService.detection | async)?.face : undefined"
            [isSlow]="detectionLoopService.isRunning && detectionLoopService.isSlow"
            [isNoFaceDetected]="detectionLoopService.isRunning && detectionLoopService.isNoFaceDetected"
            [class.-is-ahegao]="detectionLoopService.isRunning && detectionLoopService.isAhegao$ | async"
            [class.-is-hidden]="!webcamConnector.showWebcam"
        ></app-webcam>
        <div class="game-info-wrapper">
            <app-webcam-connector #webcamConnector [webcamComponent]="webcam" (loaded)="camLoaded($event)"></app-webcam-connector>
            <app-device-connector></app-device-connector>
            <app-progress
                [intensity]="deviceService.intensity$ | async"
                [isIncreasing]="detectionLoopService.isRunning && (progressService.intensity$ | async)?.activeIntensity"
                [isDecreasing]="detectionLoopService.isRunning && (progressService.intensity$ | async)?.activeIntensity === 0 && (progressService.intensity$ | async)?.intensity > 0"
            ></app-progress>
            <button (click)="onPause()" appAutoBlur *ngIf="detectionLoopService.isRunning && webcamConnector.showWebcam">
                <app-typicon [icon]="'media-pause'" [uppercase]="true"></app-typicon>
                Pause
            </button>
            <button (click)="onResume()" appAutoBlur *ngIf="!detectionLoopService.isRunning">
                <app-typicon [icon]="'media-play'" [uppercase]="true"></app-typicon>
                Play
            </button>
            <ng-container *ngIf="detectionLoopService.isComparing">
                <meter [value]="(detectionLoopService.detection | async)?.ahegaoProbability" [style.background]="(detectionLoopService.detection | async)?.ahegaoProbability > 0.6 ? 'hotpink' : 'none'"></meter>
                <meter [value]="(detectionLoopService.detection | async)?.ahegaoProbabilityCompare" [style.background]="(detectionLoopService.detection | async)?.ahegaoProbabilityCompare > 0.6 ? 'hotpink' : 'none'"></meter>
            </ng-container>
        </div>
    </div>
</main>
<footer>
    © 2020 – This website uses Google Analytics – <a href="https://www.google.com/policies/privacy/partners/" rel="noopener nofollow" target="_blank">Privacy</a> 
</footer>
