main {
    max-width: 1600px;
    margin: auto;
}

.game {
    display: flex;
    min-height: 100vh;

    @media (orientation: portrait) {
        flex-direction: column;

        app-webcam {
            align-self: center;
        }
    }
}

.game-info-wrapper {
    background: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (orientation: landscape) {
        margin-left: 1rem;
        flex-shrink: 0;
        width: 20rem;
        max-width: 40%;
    }

    @media (orientation: portrait) {
        padding-top: 1rem;
    }
}

@media (orientation: portrait) {
    app-webcam:not(.-is-hidden) {
        & + .game-info-wrapper {
            app-progress {
                position: absolute;
                margin-top: -6.5rem;
                align-self: center;
            }
        }
    }
}