<button *ngIf="!showWebcam" (click)="connect()" class="primary" appAutoBlur [disabled]="(hasWebcam | async) === false">
    <app-typicon [icon]="'video'" [uppercase]="true"></app-typicon>
    Start camera
</button>
<app-alert *ngIf="(hasWebcam | async) === false" [type]="'error'">
    You need a webcam to use this website.
</app-alert>
<app-alert *ngIf="showNotAllowedError" [type]="'error'">
    You need to give this website permission to use your camera.
</app-alert>
<app-alert *ngIf="error" [type]="'error'">
    Error: {{error}} (webcam)
</app-alert>