.loading-wrapper {
    display: flex;
    overflow: hidden;
    margin-bottom: 1em;
}

.loader, .loader:after {
    border-radius: 50%;
    width: 1em;
    height: 1em;
}
.loader {
    $width: .2em;
    $background-color: pink;
    $foreground-color: hotpink;

    margin-right: .6em;
    position: relative;
    $other-borders: $width solid $background-color;
    border-top: $other-borders;
    border-right: $other-borders;
    border-bottom: $other-borders;
    border-left: $width solid $foreground-color;
    transform: translateZ(0);
    animation: rotate 1.1s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
