@import '../node_modules/normalize.css/normalize.css';
@import 'variables';

body {
    background-color: lighten($color-primary, 10%);
    color: rgba(0, 0, 0, .97);
}

button {
    background: hotpink;
    border: 1px solid #eee;
    padding: .3em .5em;
    margin-bottom: .3em;
    border-radius: .3em;
    box-shadow: .1em .1em .4em rgba(0, 0, 0, .05);
    color: #fff;
    transition: box-shadow .3s;

    &:hover, &:focus {
        box-shadow: .1em .1em .7em rgba(0, 0, 0, .2);
        cursor: pointer;
        outline: none;
    }
    &:active {
        box-shadow: none;
    }
}

a {
    color: hotpink;
    text-decoration: none;

    &:hover, &:focus {
        text-decoration: underline;
    }
}